<h1><%= @line.name %></h1>
<div class="line-color" style="background-color: <%= @line.color %>;">
	Line Color:
</div>
Origin: <%= getStationByAbbreviation(@line.stations.first).name %><br>
Destination: <%= getStationByAbbreviation(@line.stations.last).name %><br><br>

<div class="example-chat l-demo-container">
	  <header>Current Messages:</header>

	  <ul id='example-messages' class="example-chat-messages"></ul>

	  <footer>
	    <input type='text' id='messageInput'  placeholder="Hows your train?">
	  </footer>
</div><br>

<br>
<br>
Stations:<br>
<% @line.stations.each do |stationAbbreviation| %>
	<% station = getStationByAbbreviation(stationAbbreviation) %>
	<%= link_to station.name, station_path(station.slug) %><br>
<% end %>
<br>
Timetables:<br>
<% if false %>
	<% @lineTimes["root"]["route"]["train"].each do |train| %>
		Train #<%= train["index"] %><br>
		<% train["stop"].each do |stationAbbreviation| %>
			<% station = getStationByAbbreviation(stationAbbreviation["station"]) %>
			<% if stationAbbreviation["origTime"] != nil && Time.parse(stationAbbreviation["origTime"]) > Time.now %>
				<%= link_to station.name, station_path(station.slug) %>: <%= stationAbbreviation["origTime"]%><br>
			<% end %>
		<% end %>
		<br>
	<% end %>
<% end %>

<% trainIndex = nil %>
<% @lineTimes.each do |train| %>
	<% if train.value > Time.now %>
		<% if trainIndex == nil || trainIndex != train.train_index%>
			<% trainIndex = train.train_index %>
			<br>Train #<%= trainIndex %><br>
		<% end %>
		<% station = getStationById(train.station_id) %>
		<%= link_to train.station.name, station_path(train.station.slug) %>: <%= train.value.getlocal.strftime("%I:%M %p") %><br>
	<% end %>
<% end %>

<h3>User Tips</h3>
<% if !@tips.empty? %>
	<% @tips.each do |tip| %>
		<p><%= "#{tip.user.first_name} #{tip.user.last_name} on #{tip.created_at.to_formatted_s(:long_ordinal)} said: #{tip.description}" %></p>
	<% end %>
<% else %>
	<p>There are no tips for this line yet.</p>
<% end %>

<% if @current_user %>
	<%= form_for(@tip, url: tips_path) do |f| %>
		<%= f.text_area :description, placeholder: "Add a tip about this line!" %>
		<%= f.hidden_field :user_id, value: @current_user.id %>
		<%= f.hidden_field :line_id, value: @line.number %>
		<%= f.submit "Share", class: "btn-submit" %>
	<% end %>
<% end %>