<h1><%= @line.name %></h1>
Origin: <%= getStationNameByAbbreviation(@line.stations.first).name %><br>
Destination: <%= getStationNameByAbbreviation(@line.stations.last).name %><br><br>

<div class="example-chat l-demo-container">
	  <header>Current Messages:</header>

	 

	  <ul id='example-messages' class="example-chat-messages"></ul>

	  <footer>
	    <input type='text' id='messageInput'  placeholder="Hows your train?">
	  </footer>
	</div>
	<script>
		var messagesRef = new Firebase("https://blistering-fire-5819.firebaseio.com/smartbartly");
		 // REGISTER DOM ELEMENTS
		  var messageField = $('#messageInput');
		  var messageList = $('#example-messages');

		  // LISTEN FOR KEYPRESS EVENT
		  messageField.keypress(function (e) {
		    if (e.keyCode == 13) {
		      //FIELD VALUES
		      var username = '<%= "#{@current_user.first_name} #{@current_user.last_name}" %>';
		      var message = messageField.val();
		      var time = Date.now();

		      //SAVE DATA TO FIREBASE AND EMPTY FIELD
		      messagesRef.push({user__name: username, text: message, time: time});
		      messageField.val('');
		    }
		  });

		  // Add a callback that is triggered for each chat message.
		  messagesRef.limitToLast(10).on('child_added', function (snapshot) {
		    //GET DATA
		    var data = snapshot.val();
		    var username = data.user__name || "anonymous";
		    var message = data.text;
		    var time = data.time;
		    if (data.created_at){
		    	time = Date.parse(data.created_at);
		    }

		    //CREATE ELEMENTS MESSAGE & SANITIZE TEXT
		    var messageElement = $("<li>");
		    var nameElement = $("<strong class='example-chat-username'></strong>")
		    var timeElement = Math.floor((Date.now() - time)/60000);
		    var timeUnits;

		    if (timeElement <= 60){
		    	timeUnits = " minutes ago- ";
		    }else if (timeElement > 60 && timeElement < 1440){
		    	timeElement = Math.round(timeElement/60);
		    	timeUnits = " hours ago- ";
		    }else {
		    	timeElement = Math.round(timeElement/1440);
		    	timeUnits = " days ago- ";}
		    nameElement.text(username + ": ");
		    messageElement.text(message).prepend(nameElement).prepend(timeElement + timeUnits);

		    //ADD MESSAGE
		    messageList.append(messageElement)

		    //SCROLL TO BOTTOM OF MESSAGE LIST
		    messageList[0].scrollTop = messageList[0].scrollHeight;
		  });

	</script>
<br>
<div class="line-color" style="background-color: <%= @line.color %>;">
	Line Color:
</div>
<br>
Stations:<br>
<% @line.stations.each do |stationAbbreviation| %>
	<% station = getStationNameByAbbreviation(stationAbbreviation) %>
	<%= link_to station.name, station_path(station.slug) %><br>
<% end %>
<br>
Timetables:<br>
<% if false %>
	<% @lineTimes["root"]["route"]["train"].each do |train| %>
		Train #<%= train["index"] %><br>
		<% train["stop"].each do |stationAbbreviation| %>
			<% station = getStationNameByAbbreviation(stationAbbreviation["station"]) %>
			<% if stationAbbreviation["origTime"] != nil && Time.parse(stationAbbreviation["origTime"]) > Time.now %>
				<%= link_to station.name, station_path(station.slug) %>: <%= stationAbbreviation["origTime"]%><br>
			<% end %>
		<% end %>
		<br>
	<% end %>
<% end %>
<% @lineTimes.each do |train| %>
	Train #<%= train.train_index %>
	<% stationName = getStationNameById(train.station_id) %>: <%= Time.strftime("%I:%M% p") %>
<% end %>

<h3>User Tips</h3>
<% if !@tips.empty? %>
	<% @tips.each do |tip| %>
		<p><%= "#{tip.user.first_name} #{tip.user.last_name} on #{tip.created_at.to_formatted_s(:long_ordinal)} said: #{tip.description}" %></p>
	<% end %>
<% else %>
	<p>There are no tips for this line yet.</p>
<% end %>

<% if @current_user %>
	<%= form_for(@tip, url: tips_path) do |f| %>
		<%= f.text_area :description, placeholder: "Add a tip about this line!" %>
		<%= f.hidden_field :user_id, value: @current_user.id %>
		<%= f.hidden_field :line_id, value: @line.number %>
		<%= f.submit "Share", class: "btn-submit" %>
	<% end %>
<% end %>