<div class="row" id='login_page'>
	<div class='login_form col-md-6'>
			<h1>Login</h1>
			<div class="form-group">
				<%= form_for @user, url: "/sessions", method: "post" do |f| %>	
					<%= f.email_field :email, placeholder: "Email", class: "form-control" %><br>
					<%= f.password_field :password, placeholder: "Password", class: "form-control" %><br>
					<%= f.submit "Sign In", class: "btn btn-primary" %>
				<% end %>
			</div>
	</div>
	<div class='sign_up_form col-md-6'>
    	<h1>Sign up</h1>
    	<div class="form-group">
		    <%= form_for(@user) do |f| %>
		        <%= f.text_field :first_name, :placeholder => "First name", class: "form-control" %><br>
		        <%= f.text_field :last_name, :placeholder => "Last name", class: "form-control" %><br>
		        <%= f.email_field :email, :placeholder => "Email", class: "form-control" %><br>
		        <%= f.password_field :password, :placeholder => "Password", class: "form-control" %><br>
		        <%= f.submit "Create an account", class: "btn btn-primary" %>
		  	<% end %>
		</div>
  	</div>
</div>

<script type="text/javascript">
	activateNav("sign")
</script>