<h1>smartbart.ly</h1>

<%= @station.name %>
<br>
<%= @station.address %>

<%= form_for(@tip, url: tips_path) do |f| %>
	<%= f.text_area :description, placeholder: "Add a tip about this station!" %>
	<%= f.hidden_field :user_id, value: @current_user.id %>
	<%= f.hidden_field :station_id, value: params[:id] %>
	<%= f.submit "Share", class: "btn-submit" %>
<% end %>