<h1><%= @wantedStation.name %></h1>
<h2>Northbound</h2>
<% @stationNorthTimes.each do |lineNumber, line| %>
	<% @wantedLine = getLineName(lineNumber) %>
	<h3><%= link_to @wantedLine.name, line_path(@wantedLine.slug) %></h3>
	<% trainIndex = nil %>
	<% line.each do |arrival_time| %>
		<% if trainIndex == nil || trainIndex != arrival_time.train_index%>
			<% trainIndex = arrival_time.train_index %>
			<br>Train #<%= trainIndex %><br>
		<% end %>
		<%= arrival_time.value.getlocal("-7:00").strftime("%I:%M %p") %>
	<% end %>
	<br>
<% end %>
<h2>Southbound</h2>
<% @stationSouthTimes.each do |lineNumber, line| %>
	<% @wantedLine = getLineName(lineNumber) %>
	<h3><%= link_to @wantedLine.name, line_path(@wantedLine.slug) %></h3>
	<% trainIndex = nil %>
	<% line.each do |arrival_time| %>
		<% if trainIndex == nil || trainIndex != arrival_time.train_index%>
			<% trainIndex = arrival_time.train_index %>
			<br>Train #<%= trainIndex %><br>
		<% end %>
		<%= arrival_time.value.getlocal("-7:00").strftime("%I:%M %p") %>
	<% end %>
	<br>
<% end %>

<h3>User Tips</h3>
<% if !@tips.empty? %>
	<% @tips.each do |tip| %>
		<p><%= "#{tip.user.first_name} #{tip.user.last_name} on #{tip.created_at.to_formatted_s(:long_ordinal)} said: #{tip.description}" %></p>
	<% end %>
<% else %>
	<p>There are no tips for this station yet.</p>
<% end %>

<% if @current_user %>
	<%= form_for(@tip, url: tips_path) do |f| %>
		<%= f.text_area :description, placeholder: "Add a tip about this station!" %>
		<%= f.hidden_field :user_id, value: @current_user.id %>
		<%= f.hidden_field :station_id, value: @wantedStation.id %>
		<%= f.submit "Share", class: "btn-submit" %>
	<% end %>
<% end %>