<body id="sign_up_page">
    <div class='sign_up_form'>
    	<h1>Sign up</h1><br>
	    <%= form_for(@user) do |f| %>
	        <%= f.text_field :first_name, :placeholder => "First name" %><br><br>
	        <%= f.text_field :last_name, :placeholder => "Last name" %><br><br>
	        <%= f.email_field :email, :placeholder => "Email" %><br><br>
	        <%= f.password_field :password, :placeholder => "Password" %><br><br>
	        <%= f.submit "Create an account", class: "btn-submit" %>
	  	<% end %>
  	</div>


  	<div class='login_form'>
		<h1>Login</h1>
		<%= form_for @user, url: "/sessions", method: "post" do |f| %>
			<div>
				<%= f.text_field :email, placeholder: "Email" %>
			</div>
			<br>
			<div>
				<%= f.password_field :password, placeholder: "Password" %>
			</div>
			<br>
			<%= f.submit "Sign In" %>
		<% end %>
	</div>
 </body>